<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-diagoona.css')}}">
</head>
<body>
<div class="tm-container">
<div>
        <div class="tm-row pt-4">
            <div class="tm-col-left">
                <div class="tm-site-header media">
                  <a href="/"><i class="fas fa-coins fa-3x mt-1 tm-logo"></i> </a>
                    <div class="media-body">
                        <h1 class="tm-sitename text-uppercase">Webmoney</h1>

                    </div>
                </div>
            </div>
        </div>
 </div>
</div>

</body>
